main {
  background-color: var(--secondary-color);
  text-align: center;
}

#profile-cart {
  background: var(--primary-color);
  display: inline-block;
  width: 90%;
  max-width: 350px;
  border-radius: 10px;
  margin-top: 20px;
  transform: translateY(100px);
}

#profile-cart #head {
  position: relative;
  padding-top: 70px;
}

#profile-cart #head div {
  display: inline-block;
}

#profile-cart #edit-profile {
  position: absolute;
  right: 10px;
  top: 5px;
}

#profile-cart #edit-profile a {
  color: var(--tertiary-color);
  text-decoration: underline;
  font-family: Pinar !important;
}

#profile-cart #points {
  position: absolute;
  right: 10px;
  top: 45px;
}

#profile-cart #points .progress-bar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#profile-cart #points p {
  position: absolute;
  top: 22px;
  right: 33.1px;
  margin: 0;    
  font-family: Pinar !important;
  color: var(--green);
}


#profile-cart #points p span {
display: block;
}

#profile-cart .profile-picture {
  width: 130px;
  height: 130px;
  position: absolute;
  top: -40px;
  left: 10px;
}

#profile-cart .profile-picture .profile-img {
  width: 120px;
  height: 120px;
}

#profile-cart .profile-picture .badge {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 60px;
  height: 60px;
}

#profile-cart .profile-picture button {
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  background: var(--tertiary-color);
  color: white;
}


#profile-cart #name {
  margin: 0;
  margin-top: 70px;
}

#profile-cart #email {
  margin: 0;
  font-variation-settings: "wght" 500;
}

#profile-cart #foot {
  padding: 10px 0;
  margin: 0 5%;
  margin-top: 40px;
  border-top: 2px dashed var(--tertiary-color);
}

#profile-cart #foot h6 {
  margin: 0;
  padding: 0 5%;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.5;
  transition: var(--animation-delay);

}

#profile-cart #foot h6:nth-child(odd) {
  border-left: 2px solid;
}

#profile-cart #foot h6.selected {
opacity: 1;
}

#sources-container {
  background-color: white;
  background-size: 500px;
  background-attachment: fixed;
  min-height: 80vh;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-top: 100px;
padding-bottom: 40px;
}

#sources-container .head {
text-align: right;
display: inline-block;
}

#explore-link {
  margin-top: 30px;
}

#sources-container #explore-link .head .new  img {
  margin-left: 5px;
}

#sources-container #explore-link .head .new {
  width: 290px;
  text-align: center;
  background: var(--purple)
}

#sources-container .head .new {
background: var(--blue);
display: block;
color: white;
width: fit-content;
padding: 10px 5px;
border-radius: 10px;
margin-bottom: 5px;
font-size: 14px;

}

#sources-container .head.upload .new {
  background: var(--green);
  width: 120px;
}

#sources-container .head.download .new {
  width: 160px;
}

#sources-container .head .new img {
vertical-align: middle;
width: 30px;
}

#downloads .source .ctas button {
  background: var(--blue);
  color: white;
  border: none;
  display: block;
  margin: 5px 0;
  border-radius: 10px;
  padding: 8px 0;
  width: 100%;
  cursor: pointer;  
}

#uploads {
  display: none;
}

#uploads .source .ctas a:first-child {
background: var(--blue);
color: white;
}

#uploads .source .ctas a:nth-child(2) {
background: var(--red);
}
#uploads .source .ctas .update-cta {
background: var(--yellow);
  text-decoration: none;
}
#uploads .head .new {
background: var(--green);
}

.source form {
  margin: 0;
}

.source input {
  background: none;
  border: none;
  width: 100%;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.source.NEW p {
background-color: #246eb982;
}

.source.PUBLISH p {
background-color: #37963496;
}

.source.DENIED p {
background-color: #ef29178f;
}

.source > p {
background: white;
padding: 5px;
border-radius: 10px;
}

.source > p > span {
margin: 5px;
font-weight: 900;
}

.source.deleted .ctas a {
  background: var(--red);
}

.source.deleted p {
  background: #ef29178f;
}

.sources > p {
  margin: auto 10px;
}

/* RESPONSEIVE */
@media screen and (min-width: 500px) {

.sources .source {
  width: 80%;
}


}

@media screen and (min-width: 750px) {

.sources .source {
  width: 40%;
  margin-left: 10px;
  margin-right: 10px;
}


}