body{
    background-color: var(--primary-color);
    margin-bottom: 70px;
}

/* main content styles */
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
}

/* my resourcess part styles */
.my-resources{
    margin: 1rem 0;
    width: 90%;
    background-color: var(--secondary-color);
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 16px;
    font-family: 'Pinar' !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* bottuns styles */
.unselected-btn{
    padding: 8px 35px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Pinar' !important;
}

.selected-btn{
    padding: 8px 30px;
    color: #fff;
    background-color: var(--yellow);
    border: 1px solid #fff;
    border-radius: 5px;
    font-family: 'Pinar' !important;
    cursor: pointer;
}


/* search bar styles */
.search-form{
    width: 100%;
}

.search-bar{
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(256, 256, 256, 0.66);
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

/* booklets cards styles */
#uploads {
    display: none;
}


.booklet-cards-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.booklet-card{
    text-align: center;
    width: 95%;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 2%;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: 2px solid var(--secondary-color);
}

.booklet-card > div{
    display: inline-block;
}

    /* details styles */
.card-details{
    width: 55%;
    text-align: right;
    vertical-align: top;
}

.booklet-title{
    color: #000;
}

.booklet-title , .course-name , .professor-name{
    margin: 12px 0 !important;
}

.course-name , .professor-name{
    color: var(--tertiary-color);
}

    /* buttons styles */
.card-btns{
    width: 40%;
}

.booklet-card form{
    margin: 0;
}

.booklet-card input{
    background: none !important;
    border: none !important;
    width: 100%;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.card-btns a{
    display: block;
    margin: 5px 0;
    border-radius: 5px;
    padding: 8px 0;
}

.download-again-btn{
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
}

.delete-btn{
    background-color: var(--yellow);
    color: #fff;
}

.details-btn{
    text-decoration: underline;
    margin-bottom: 0;
    text-align: center;
}

.add-comment-btn{
    background-color: var(--blue);
    color: #fff;
    border: none !important;
    display: block;
    margin: 5px 0;
    border-radius: 5px;
    padding: 8px 0;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}












/* responsive */
@media screen and (min-width: 500px){
    /* header downloads/uploads button */
    .selected-btn{
        padding: 8px 40px;
        font-size: 24px;
    }

    /* booklet styles */
    .booklet-title{
        font-size: 1.7rem;
    }

    .course-name , .professor-name{
        font-size: 1.3rem;
    }

    /* search form styles */
    .search-form{
        width: 97%;
    }
}


@media screen and (min-width: 650px){
    /* header downloads/uploads button */
    .selected-btn{
        padding: 8px 50px;
        font-size: 24px;
    }

    /* my resources part styles */
    .my-resources{
        width: 36.5rem;
    }

    /* searchbar styles */
    .search-form{
        width: 38.5rem;
    }

    /* booklet styles */
    .booklet-cards-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .booklet-card {
        width: 43%;
    }

    .booklet-title{
        font-size: 1.4rem;
    }

    .course-name , .professor-name{
        font-size: 1rem;
    }
}

@media screen and (min-width: 800px){
    /* progress bar styles */
    .progress-bar-container{
        width: 38rem;
    }
}

@media screen and (min-width: 900px){
    body{
        margin-bottom: 1rem;
    }

    /* booklets cards styles */
    .booklet-card {
        width: 27%;
    }

    .booklet-title{
        font-size: 1.2rem;
    }

    .course-name , .professor-name{
        font-size: 1rem;
    }

    .card-btns a , .add-comment-btn , .booklet-card input{
        font-size: 14px;
        padding: 4px 0;
    }
}


@media screen and (min-width: 1200px){
    /* booklets cards styles */
    /* .booklet-cards-container{
        justify-content: center;
        gap: 3rem;
    } */

    .booklet-card {
        width: 22%;
    }

    .booklet-title{
        font-size: 1.2rem;
    }

    .course-name , .professor-name{
        font-size: 1rem;
    }

    .card-btns a , .add-comment-btn , .booklet-card input{
        font-size: 14px;
        padding: 4px 0;
    }
}