body{
    background-color: var(--primary-color);
    margin-bottom: 70px;
}

/* slider styles */
.swiper {
    margin-top: 1rem;
    background-color: #000;
    width: 90%;
    height: 11rem;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: grab;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: fit-content;
height: fit-content;
object-fit: cover;
}

.swiper-rtl .swiper-button-prev , .swiper-rtl .swiper-button-next{
    display: none;
}

/* scrollable boxes styles */
.scrollable-box-container{
    margin-top: 2rem;
}

.title-container img{
    display: none;
}

.box-title{
    color: #000;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
}

.scrollable-box{
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 0.5rem;
}

.scrollable-box-item{
    border: 2px solid var(--secondary-color);
    background-color: #fff;
    border-radius: 8px;
    width: 76px;
    height: 70px;
    margin-left: 1rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

/* tools styles */
.hiboos-tool{
    border: 2px solid var(--secondary-color);
    background-color: #fff;
    border-radius: 8px;
    width: 76px;
    height: 70px;
    margin-left: 1rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

/* fields styles */
/* .hiboos-field{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
} */

.box-item-title{
    margin: 0 !important;
    font-size: 13px;
    color: black !important;
}

/* .scrollable-box::-webkit-scrollbar{
    width: 3px;
    background: transparent;
    border-radius: 30px;
}

.scrollable-box::-webkit-scrollbar-track{
    background: transparent;
    width: 0.5rem;
}

.scrollable-box::-webkit-scrollbar-thumb{
    background: #505050;
    width: 0.5rem;
}  */












@media screen and (min-width: 650px){
    .swiper{
        width: 95%;
    }
}


@media screen and (min-width: 900px){
    /* hide slider pagination and show slider navigation*/
    .swiper-rtl .swiper-button-prev , .swiper-rtl .swiper-button-next{
        display: block;
        color: #fff;        
    }

    .swiper-rtl .swiper-button-next::after,
    .swiper-rtl .swiper-button-prev::after {
        font-size: 15px;
        background-color: rgba(0, 0, 0, 0.35);
        padding: 0.5rem;
        border-radius: 5px;
    }

    .swiper-pagination{
        display: none;
    }

    .swiper{
        width: 100%;
        height: 20rem;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }

    /* tools box styles */
    .scrollable-box{
        margin: 0 2.5rem;
    }
        
    .hiboos-tool{
        padding: 0 1rem;
        width: 100px;
        flex-direction: row;
        gap: 0.8rem;
    }

    .box-title{
        padding: 0;
    }

    .title-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 0 1rem;
    }

    .title-container img{
        display: block;
        width: 85%;
    }

}

@media screen and (min-width: 1200px){
    .scrollable-box-container{
        padding: 1.5rem 6rem;
    }
}


@media screen and (min-width: 1600px){
    .title-container img{
        width: 90%;
    }
}

@media screen and (min-width: 2300px){
    .title-container img{
        width: 92%;
    }
}

