body{
    background-color: var(--primary-color);
    margin-bottom: 70px;
}

.quiz-page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-page-header a{
    padding: 1.2px 1px 1px 1px;
    height: 33px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.7);
}

.quiz-page-header img{
    width: 2rem;
}

.remaining-quizzes-title{
    font-family: 'Pinar' !important;
    font-weight: 900;
    font-size: 13px;
    width: 75%;
    color: var(--secondary-color);
    background-color: #fff;
    border: 2px solid var(--secondary-color);
    text-align: center;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
}

.here-link{
    color: var(--red);
    text-decoration: underline;
    font-family: 'Pinar' !important;
}


/* quiz specification */
.quiz-title{
    font-family: 'Pinar';
    text-align: center;
    color: #000;
    margin-bottom: 0;
}

.spec-title{
    margin: 0;
    font-family: 'Pinar';
    color: #000;
    font-size: 20px;
}

.spec-content{
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Pinar' !important;
    color: var(--tertiary-color);
}

.important{
    color: var(--red);
}

/* description */
.description{
    background-color: var(--light-color);
    text-align: center;
    border-radius: 5px;
    padding: 8px 17px;
    font-weight: 900;
    font-family: 'Pinar';
}

/* quiz result review */
.table{
    margin-bottom: 1rem;
    border: 1px solid var(--green);
    border-radius: 5px;
}

.table-header, .table-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
}

.table-header span, .table-data span{
    width: 34%;
    text-align: center;
    padding: 5px 0;
}

.table-header{
    font-family: 'Pinar';
    background-color: var(--light-color);
    font-weight: 900;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--green);
}

.table-data{
    font-weight: 600;
    font-family: 'Estedad';
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}

.table-data span:nth-child(2), .table-header span:nth-child(2) {
    border-right: 2px solid var(--green);
    border-left: 2px solid var(--green);
} 

/* result review guide */
.guide-container{
    margin-bottom: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.guide{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.guide-color{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/* also for colors of the questions */
.green{
    background-color: var(--green);
}

.red{
    background-color: var(--red);
}

.blue{
    background-color: var(--blue);
}


/* questions results */
.answer-table-container{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-bottom: 2rem;
}

.q-num{
    margin-bottom: 0.8rem;
    width: 2rem;
    text-align: center;
    border-radius: 10px;
    color: #fff;
}


/* quiz btns */
.quiz-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-btn{
    background-color: #fff;
    text-align: center;
    display: block;
    border-radius: 10px;
    padding: 5px 0;
    font-family: 'Pinar' !important;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
    width: 80%;
}

.start-quiz{
    color: var(--secondary-color);
    border: 4px solid var(--secondary-color);
}

.continue-quiz{
    color: var(--yellow);
    border: 4px solid var(--yellow);
}

.review-quiz{
    color: var(--blue);
    border: 4px solid var(--blue);
}

/* suggestion cards */
.suggestion-cards-container{
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.suggestion-title{
    color: #000;
}

.suggestion-cards{
    background-color: #fff;
    border: 2px solid var(--secondary-color);
    width: 255px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 10px;
    border-radius: 10px;
}

.card-details h3{
    color: #000;
}

.points span{
    font-weight: 1000;
    padding-top: 0.5rem;
    /* font-size: 20px; */
    font-family: 'Estedad';
}

.points{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.points-title{
    margin: 0;
    color: #000;
}

.card-score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 500px){
    .remaining-quizzes-title{
        width: 85%;
    }
}

@media screen and (min-width: 800px){
    .remaining-quizzes-title{
        width: 90%;
    }
}

@media screen and (min-width: 900px){
    .remaining-quizzes-title{
        width: 90%;
        font-size: unset;
    }

    /* main content */
    .desktop-part1{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    

    .quiz-btn-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .quiz-btn{
        width: 40%;
    }
}   


@media screen and (min-width: 1200px){
    .all-content{
        display: flex; 
        justify-content: space-between;

    }
/* desktop part1 */
    .desktop-part1{
        border: 4px solid var(--secondary-color);
        background-color: #fff;
        border-radius: 10px;
        padding: 0 40px 15px 0;
        width: 65%;
    }

    .quiz-title{
        text-align: left;
    }

/* desktop part2 */
    .desktop-part2{
        width: 28%;
    }
    /* suggestion cards */
    .suggestion-cards-container{  
        gap: 1rem;  
        display: block;
        height: 11rem;
        width: 100%;
    }

    .suggestion-cards{
        margin-bottom: 1rem;
        width: 90%;
        overflow-x: visible;
    }

    .quiz-btn{
        width: 100%;
    }

    .description{
        margin-top: 0;
    }
}

@media screen and (min-width: 1400px){
    .remaining-quizzes-title{
        width: 93%;
    }
}