body{
    background-color: var(--primary-color);
    margin-bottom: 70px;
}

.main-content{
    margin-top: 1rem;
}
/* quiz history papage header styles */
.quiz-history-header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.quiz-history-header a{
    padding: 1.2px 1px 1px 1px;
    height: 33px;
    border-radius: 7px;
    background-color: rgba(255,255,255,0.7);
}

.quiz-history-header img{
    width: 2rem;
}

.header-txt{
    color: #000;
    margin: 0;
}

/* search form styles */
.search-form{
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.search-bar{
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    background-color: rgba(256, 256, 256, 0.66);
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
}

.search-bar-input{
    width: 100%;
    border: none;
    background-color: transparent;
    padding-right: 0.5rem;
}

.search-btn{
    padding: 0.2rem;
    width: 80px;
    height: 35px;
    padding: 6px, 25px;
    border-radius: 5px;
    border: 1px;
    background-color: var(--secondary-color);
    color: #fff;
    font-family: 'Pinar' !important;
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}


/* filters styles */
.filters{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
}

.filter-opt-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: auto;
    white-space: nowrap;
    padding: 0 0.2rem;
}

.filter-opt{
    display: inline-block;
    border: none;
    font-family: 'Pinar';
    /* font-size: 14px; */
    font-weight: 900;
    color: #565656;
    background-color: rgba(255, 255, 255, 0.66);
    border-radius: 5px;
    padding: .2rem 1rem;
    cursor: pointer;
}

.filtered{
    background-color: #fff;
}

/* quizes cards style */
.quizes-cards{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.quiz-card{
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    border: 2px solid var(--secondary-color);
}

.quiz-card-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.details-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 15px;
}

.course-name{
    color: #000;
    margin-bottom: 5px !important;
}

.quiz-card-details h3,.quiz-card-details h5{
    margin: 0;
}


.card-btn{
    text-align: center;
    padding: 4px 0;
    color: #fff;
    font-family: 'Estedad';
    width: 120px;
    border-radius: 5px;
}

.quiz-date{
    background-color: var(--secondary-color);
}

.details-btn{
    background-color: var(--yellow);
}




@media screen and (min-width: 620px){
    .quizes-cards{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .quiz-card{
        width: 43%;
    }
}

@media screen and (min-width: 900px){
    
    .quiz-card{ 
        width: 45%;
    } 
}

@media screen and (min-width: 1200px){
    .quiz-history-header{
        margin-bottom: 15px;
    }

    .search-form{
        margin: 0;
    }

    .quiz-card{
        width: 29%;
    }
}