body{
    background-color: var(--primary-color);
    margin-bottom: 70px;
}

.quiz-page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-page-header a{
    padding: 1.2px 1px 1px 1px;
    height: 33px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.7);
}

.quiz-page-header img{
    width: 2rem;
}

.remaining-quizzes-title{
    font-family: 'Pinar' !important;
    font-weight: 900;
    font-size: 13px;
    width: 75%;
    color: var(--secondary-color);
    background-color: #fff;
    border: 2px solid var(--secondary-color);
    text-align: center;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
}

.here-link{
    color: red;
    text-decoration: underline;
    font-family: 'Pinar' !important;
}


/* quiz specification */
.quiz-title{
    font-family: 'Pinar';
    text-align: center;
    color: #000;
    margin-bottom: 0;
}

.spec-title{
    margin: 0;
    font-family: 'Pinar';
    color: #000;
    /* font-size: 17px; */
}

.spec-content{
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Pinar' !important;
    color: var(--tertiary-color);
}

.important{
    color: red;
}





@media screen and (min-width: 900px){
    .remaining-quizzes-title{
        width: 90%;
    }
}   