body{
    background-color: var(--primary-color);
    margin-bottom: 70px;
}

/* search form styles */
.search-form{
    margin-top: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.search-bar{
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    background-color: rgba(256, 256, 256, 0.66);
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
}

.search-bar-input{
    width: 100%;
    border: none;
    background-color: transparent;
    padding-right: 0.5rem;
}

.search-btn{
    padding: 0.2rem;
    width: 80px;
    height: 35px;
    padding: 6px, 25px;
    border-radius: 5px;
    border: 1px;
    background-color: var(--secondary-color);
    color: #fff;
    font-family: 'Pinar' !important;
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

/* filters styles */
.filters{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
}

.filter-opt-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: auto;
    white-space: nowrap;
    padding: 0 0.2rem;
}

.filter-opt{
    display: inline-block;
    border: none;
    font-family: 'Pinar';
    font-size: 14px;
    font-weight: 900;
    color: #565656;
    background-color: rgba(255, 255, 255, 0.66);
    border-radius: 5px;
    padding: .2rem 1rem;
    cursor: pointer;
}

.filtered{
    border: 0.1rem solid var(--green);
}

/* booklet cards styles */
.booklet-cards-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.booklet-card{
    text-align: center;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: 2px solid var(--secondary-color);
}

    /* details styles */
.card-details{
    width: 55%;
    text-align: right;
    vertical-align: top;
}

.booklet-title{
    color: #000;
}

.booklet-title , .course-name , .professor-name{
    margin: 12px 0 !important;
}

.course-name , .professor-name{
    color: var(--tertiary-color);
}

    /* btn and points styles */
.points{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.points span{
    font-weight: 1000;
    padding-top: 0.5rem;
    font-size: 20px;
    font-family: 'Estedad';
}

.points-title{
    margin: 0;
    color: #000;
}

.details-btn{
    background-color: var(--yellow);
    color: #fff;
    text-align: center;
    display: block;
    width: 146px;
    margin: 10px 0 0 0;
    border-radius: 5px;
    padding: 4px 0;
    font-weight: 900;
    font-size: 18px;
    font-family: 'Estedad';
}

/* Pop-Ups */
.bg-green {
    background-color: var(--secondary-color);
}

.bg-green:hover{
    background-color: var(--secondary-color) !important;
}

.swal-content {
    position: relative;
}

.swal-content .suggestions {
    display: none;
    width: calc(100% - 43px);
    top: 31px;
    background-color: var(--secondary-color);
}

.swal-content__input{
    border: 1px solid var(--secondary-color);
}

.swal-content__input:focus {
    border-color: var(--secondary-color);
}

.swal-button--cancel:hover {
    background-color: var(--red) !important;
    color: #fff !important;
}







/* responsive styles */
@media screen and (min-width: 500px){
    .booklet-title{
        font-size: 1.7rem;
    }

    .course-name , .professor-name{
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 650px){
    .booklet-cards-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .booklet-card {
        width: 43%;
    }

    .booklet-title{
        font-size: 1.2rem;
    }

    .course-name , .professor-name{
        font-size: 1rem;
    }
}

@media screen and (min-width: 800px){
    /* progress bar styles */
    .progress-bar-container{
        width: 38rem;
    }
}

@media screen and (min-width: 900px){
    body{
        margin-bottom: 1rem;
    }
    
    /* hide main content search form */
    .search-form{
        display: none;
    }

    /* booklets cards styles */
    .booklet-cards-container{
        gap: 2rem;
    }

    .booklet-card {
        width: 28%;
    }

    .booklet-title{
        font-size: 1.1rem;
    }

    .course-name , .professor-name{
        font-size: 0.9rem;
    }

    .details-btn{
        font-size: 14px;
        padding: 4px 0;
        width: 120px;
    }
    
}

@media screen and (min-width: 1100px){
    .booklet-card {
        width: 20%;
    }

    .details-btn{
        width: 110px;
    }
}

@media screen and (min-width: 1400px){
    .details-btn{
        width: 130px;
    }
}