body{
    background-color: var(--primary-color);
    margin-bottom: 70px;
}

/* taking quiz page header*/
/* .taking-quiz-header{
    display: flex;
    flex-flow: column;
    align-items: center;
} */

.header1{
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;  
    padding: 1rem 1rem 0 1rem;
}

.header2{
    padding: 1rem 1rem 0 1rem;
}

.quiz-name{
    color: #000;
    margin: 0;
}

.finish-quiz{
    color: var(--red);
    font-family: 'Pinar' !important;
}

/* quiz progress bar styles */
.quiz-progress-bar-container{
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    height: 20px;
    width: 66%;
    background-color: rgb(255, 255, 255);
    border: solid 2px var(--secondary-color);
    border-radius: 3px;
}

#answer-persentage{
    position: absolute;
    padding-left: 1.5rem;
    color: #fff;
}

.progress{
    height: 20px;
    width: 45%;
    background-color:var(--secondary-color);
}

/* time styles */
.time-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-container span{
    font-family: 'Pinar';
}

/* details */
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* questions-container */
.questions-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* question card */
.question{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);

}

.q-num{
    margin: 0 0 3px 0;
    color: #000;

}

.question-txt{
    line-height: 1.4;
    margin: 0;
    text-align: justify;
}

/* quiz image */
.quiz-img-container{
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* options */
.options-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
}

.option{
    display: flex;
    justify-content: space-between;
    background-color: #EDEDED;
    padding: 5px 10px;
    width: 93%;
    border-radius: 5px;
    
}

.opt-txt{
    margin: 0;
}

.selected{
    border: 2px solid var(--secondary-color);
}


/* finish quiz */
.finish-quiz-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.remaining-q{
    color: var(--red);
}

.finish-btn{
    color: var(--red);
    border: 4px solid var(--red);
    font-family: 'Pinar' !important;
    background-color: #fff; 
    border-radius: 10px;
    padding: 10px 15px;
    width: 240px;
    text-align: center;
}



@media screen and (min-width: 420px){
    .quiz-progress-bar-container{
        width: 75%;
    }

    .finish-btn{
        width: 300px;
    }
    
}


@media screen and (min-width: 530px){
    .quiz-progress-bar-container{
        width: 80%;
    }

    .finish-btn{
        width: 400px;
    }
    
}

@media screen and (min-width: 720px){
    .quiz-progress-bar-container{
        width: 85%;
    }

    .finish-btn{
        width: 580px;
    }
    
}





